<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.me.lj.criminalintent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CrimePagerActivity"
            android:parentActivityName=".CrimeListActivity" />

        <!--
        exported = "false"属性就意味着，除了你自己以及你给予授权的人，其他任何人都不允许使用你的FileProvider
        grantUriPermissions属性用来给其他应用授权，允许它们向你指定位置的URI （这个位置信息放在intent中对外发出）写入文件
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="android.me.lj.criminalintent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>